* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: productSana;
}

h1,
h2,
h3,
h4,
h5,
h6,
pre {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

input {
    max-width: 100%;
}

button {
    border: 0;
    // background-color: $clr1;
    // color: whitesmoke;
    cursor: pointer;
}

.sidenav {
    width: 75px;

    &.expanded {
        width: 256px;
    }
}

.icon {
    color: $iconMailClr;
}