.sidenav {

    transition: width .15s cubic-bezier(0.4, 0, 0.2, 1);

    .compose {
        margin: 8px 0 16px 8px;
        align-items: center;
        height: 56px;
        width: 56px;
        border-radius: 16px;
        background-color: #c2e7ff;

        span {
            width: 56px;
            padding-inline: 15px;
            color: rgb(32, 33, 36);
        }

        h2 {
            // font-family: robotoLight;
            // letter-spacing: 1px;
            font-weight: 600;
        }

    }

    .folders-container {
        justify-content: center;

        .folder-box {
            margin-inline-end: 2em;
            align-items: center;
            height: 32px;


            .folder-preview {
                width: 32px;
                height: 2em;
                border-radius: 16px;
                align-items: center;
                justify-items: center;
                margin-inline-start: 20px;

                span {
                    // width: 40px;
                    padding-inline: 7px;
                    color: rgb(95, 99, 104);
                    font-size: 19px !important;
                    margin-inline-end: 11px;
                    font-variation-settings: 'wght' 400, 'GRAD' 100;

                    // font-size: 19px !important;
                }

                P {
                    color: $sideNavFontClr;
                    font-size: 14px;

                    &.folder-number {
                        padding-inline: 96px 12px;
                        margin: auto;
                        font-size: 12px;
                    }
                }

                &:hover {
                    text-decoration: none;
                }

                &.active {
                    background-color: #d3e3fd;

                    span {
                        color: #001d35;
                        font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 100;
                    }


                }
            }

        }

    }

    &.expanded {

        .compose {
            width: 142px;
            padding-inline-end: 24px;


            &:hover {

                box-shadow: 0 1px 3px 0 rgba(60, 64, 67, .3), 0 4px 8px 3px rgba(60, 64, 67, .15);
                transition: box-shadow .08s linear, min-width .15s cubic-bezier(0.4, 0, 0.2, 1);
            }

            h2 {
                font-size: 14px;
            }


        }

        .folder-box {
            border-radius: 0 16px 16px 0;
            width: 240px;

            .folder-preview {

                .folder-number {
                    color: rgb(95, 99, 104);
                }
            }

            &:hover {
                background-color: rgba(32, 33, 36, 0.06);
            }

            &.active {
                background-color: #d3e3fd;

                p {
                    color: #001d35;
                    font-weight: bold;
                    font-family: productSans;
                    letter-spacing: 1px;
                }

                .folder-number {
                    color: #001d35;
                }

            }

        }
    }

    * {
        cursor: pointer;
    }
}